<!--p><input type="text" [(ngModel)] = "imgParent"></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg }}</p>
<app-img-- *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img-->
<app-nav></app-nav>
<router-outlet></router-outlet>
<!--
<button (click)="createUser()">crear</button>
<button (click)="login()">login</button>
<button (click)="getProfile()">Get profile</button>
-->
<!--
<p>
  <button (click)="downloadFile()">Descargar PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf="imgRta" [src]="imgRta" alt="">
</p>

<hr>
<app-products></app-products>-->
